* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 16px;
  width: 100vw;
  height: 100vh;
}

.mainPanel {
  background-color: rgb(176, 176, 176);
  box-shadow: 8px 0 10px -10px black;
  height: 100%;
  width: 100%;
  padding: 8px;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CV {
  width: 210mm;
  height: 270mm;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.CVLeft,
.CVRight {
  padding: 8px;
  width: 100%;
  height: 100%;
}

.CVLeft {
  background-color: lightblue;
  border-right: 1px solid blue;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formItem {
  padding: 16px;
  background-color: lightgrey;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.formInput {
  display: block;
  padding: 4px;
}

.formInput > input {
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.textWithIcon {
  display: flex;
  gap: 8px;
}

.icon {
  padding-top: 2px;
}

button {
  padding: 8px;
}
